@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #8cc84c;
    font-weight: 600;
}

.wrapper{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}
.title{
    font-size: 22px;
}

.content{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.content li{
    list-style: none;
    display: inline-block;
    background-color: #8cc84c;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    margin: 4px 3px;
}
.content li i{
    font-size: 12px;
    margin-left: 16px;
}
input{
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding: 8px 0;
}

.remove-all{
    border: none;
    outline: none;
    background-color: #8cc84c;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}